<%= form_with(model: load, local: true) do |form| %>
  <% if load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
        <% load.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :truck_id %>
    <%= form.collection_select(:truck_id, Truck.all, :id, :patent) %>
  </div>  

  <div class="field">
    <%= form.label :liters %>
    <%= form.number_field :liters %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :liter_amount %>
    <%= form.text_field :liter_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
