<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
        <% station.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.text_field :flag %>
  </div>

  <div class="field">
    <%= form.label :max_liters %>
    <%= form.number_field :max_liters %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
