<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @unit.motto %>
</p>

<h1>Miembros:</h1>
<% @unit.members.each do | m | %>
	<%= m.first_name + ", " + m.last_name %><br>
<% end -%>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
