<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Pathfinders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Miembros", members_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Categorías", categories_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Clubs", clubs_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Especialidades", honors_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Unidades", units_path, :class => "nav-link" %>
      </li>
    </ul>
  </div>
</nav>